<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./styles/sucess.css">
    <title>Document</title>
</head>
<body>
    <div class="containerImg">
        <img src="./img/Screenshot_1.png" alt="">
        <p>Bom trabalho<br>
        Enviado com sucesso!</p>
        <button><a href="./index.html"> Voltar </a></button>
    </div>

    <div class="containerCTRL">
        <div class="CTRL">
            <p class="texto">E-mail para autorização enviado, pode levar até 2 minutos para chegar, se não nos envie uma mensagem, Muito obrigado.</p>
            <button id="btn">Ctrl</button>
        </div>
    </div>

    <script src="./copia.js"></script>
</body>
</html>
